Repository bean-pod/switchboard, pull requests merged in 2020-12, with the labels that each got.

#168 [#25] Add Device Details Page
  frontend/.gitignore
  frontend/package.json
  frontend/src/DeviceDetailsPage/DeviceDetailsConciseRow.jsx
  frontend/src/DeviceDetailsPage/DeviceDetailsConciseTable.jsx
  frontend/src/DeviceDetailsPage/DeviceDetailsPage.jsx
  frontend/src/DeviceDetailsPage/DeviceDetailsTabTable.jsx
  frontend/src/DeviceDetailsPage/TabPanels/DeviceDetailsActivityPanel.jsx
  frontend/src/DeviceDetailsPage/TabPanels/DeviceDetailsNotesPanel.jsx
  frontend/src/DeviceDetailsPage/__tests__/DeviceDetailsConciseRow.test.jsx
  frontend/src/DeviceDetailsPage/__tests__/DeviceDetailsConciseTable.test.jsx
  frontend/src/DeviceDetailsPage/__tests__/DeviceDetailsPage.test.jsx
  frontend/src/DeviceDetailsPage/__tests__/DeviceDetailsTabPanels.test.jsx
  frontend/src/DeviceDetailsPage/__tests__/DeviceDetailsTabTable.test.jsx
  frontend/src/api/SampleData.js
  frontend/src/devicelist/ContentsTable.jsx
  frontend/src/devicelist/DevicesTable.jsx
  frontend/src/general/HorizontalTabPanel.jsx
  frontend/src/general/VerticalTabs.jsx
  frontend/src/general/__tests__/HorizontalTabPanel.test.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/model/DeviceInfo.js
  frontend/src/model/__tests__/DeviceInfo.test.jsx
Labels: enhancement, frontend, refactoring

#203 Make CSS class names and distribution more coherent
  frontend/src/general/StatusIndicator.jsx
  frontend/src/index.css
Labels: frontend, refactoring

#202 Add pagination to device list table
  frontend/src/DeviceDetailsPage/DeviceDetailsPage.jsx
  frontend/src/createStream/StreamingPage.jsx
  frontend/src/devicelist/ContentsTable.jsx
  frontend/src/devicelist/DeviceListPage.jsx
  frontend/src/devicelist/DevicesTable.jsx
  frontend/src/devicelist/TitleBox.jsx
  frontend/src/devicelist/__tests__/DeviceList.test.jsx
  frontend/src/devicelist/__tests__/DevicesTable.test.jsx
  frontend/src/index.css
  frontend/src/streamlist/StreamList.jsx
Labels: frontend
