Repository bean-pod/switchboard, pull requests merged in 2020-11, with the labels that each got.

#114 Added unit tests for DeviceList page
  .github/workflows/build.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.js
  frontend/src/api/DeviceApi.js
  frontend/src/api/SampleData.js
  frontend/src/devicelist/ActionMenu.js
  frontend/src/devicelist/ContentsTable.js
  frontend/src/devicelist/DeviceList.js
  frontend/src/devicelist/DevicesTable.js
  frontend/src/devicelist/HeadCells.js
  frontend/src/devicelist/SingleTableRow.js
  frontend/src/devicelist/SortBy.js
  frontend/src/devicelist/StatusIndicator.js
  frontend/src/devicelist/__tests__/DeviceList.test.js
  frontend/src/index.js
  pom.xml
Labels: code quality

#123 Add Checkstyle Rules To Sonar Analysis
  .github/workflows/build.yml
  pom.xml
Labels: code quality

#124 [#28] Stream Creation Page
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/src/Breadcrumb.js
  frontend/src/General/Buttons/AddDeviceButton.js
  frontend/src/General/Buttons/StreamButton.js
  frontend/src/General/DynamicBreadcrumb.js
  frontend/src/General/HomePage.js
  frontend/src/General/__tests__/HomePage.test.js
  frontend/src/HeaderAppBar.js
  frontend/src/api/DeviceApi.js
  frontend/src/api/SampleData.js
  frontend/src/createStream/SelectDeviceTableRow.js
  frontend/src/createStream/SelectDevicesTable.js
  frontend/src/createStream/StreamingPage.js
  frontend/src/createStream/StreamingTable.js
  frontend/src/createStream/__tests__/StreamingPage.test.js
  frontend/src/createStream/__tests__/StreamingTable.test.js
  frontend/src/devicelist/ActionMenu.js
  frontend/src/devicelist/ChannelDetailsTable.js
  frontend/src/devicelist/ContentsTable.js
  frontend/src/devicelist/DeviceList.js
  frontend/src/devicelist/DeviceListPage.js
  frontend/src/devicelist/DeviceListSortSelector.js
  frontend/src/devicelist/DevicesTable.js
  frontend/src/devicelist/HeadCells.js
  frontend/src/devicelist/SearchBar.js
  frontend/src/devicelist/SingleTableRow.js
  frontend/src/devicelist/SortBy.js
  frontend/src/devicelist/StatusIndicator.js
  frontend/src/devicelist/TitleBox.js
  frontend/src/devicelist/__tests__/DeviceList.test.js
  frontend/src/devicelist/__tests__/DeviceListSortBy.test.js
  frontend/src/devicelist/__tests__/HeadCells.test.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/model/DeviceInfo.js
  frontend/src/model/InputChannelInfo.js
  frontend/src/model/OutputChannelInfo.js
Labels: frontend

#133 [#101] Stream Listing Page
  frontend/src/DefaultMakeStylesTheme.js
  frontend/src/HeaderAppBar.js
  frontend/src/StatusIndicator.js
  frontend/src/__tests__/DefaultMakeStylesTheme.test.js
  frontend/src/__tests__/HeaderAppBar.test.js
  frontend/src/api/DeviceApi.js
  frontend/src/api/SampleData.js
  frontend/src/api/StreamApi.js
  frontend/src/api/__tests__/StreamApi.test.js
  frontend/src/createStream/StreamingPage.js
  frontend/src/createStream/__tests__/StreamingPage.test.js
  frontend/src/devicelist/DeviceListPage.js
  frontend/src/devicelist/HeadCells.js
  frontend/src/devicelist/SingleTableRow.js
  frontend/src/devicelist/__tests__/ActionMenu.test.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/model/ConvertDataFormat.js
  frontend/src/model/DeviceInfo.js
  frontend/src/model/StreamInfo.js
  frontend/src/model/__tests__/ConvertDataFormat.test.js
  frontend/src/streamlist/ActionButtons.js
  frontend/src/streamlist/HeadCells.js
  frontend/src/streamlist/SingleStreamRow.js
  frontend/src/streamlist/StreamList.js
  frontend/src/streamlist/StreamsTable.js
  frontend/src/streamlist/__tests__/StreamList.test.js
Labels: frontend, refactoring

#189 [#147] Search fields in device list page and migration from table to data table
  frontend/package-lock.json
  frontend/package.json
  frontend/src/createStream/SearchBar.jsx
  frontend/src/createStream/SelectDevicesTable.jsx
  frontend/src/createStream/StreamingPage.jsx
  frontend/src/devicelist/ActionMenu.jsx
  frontend/src/devicelist/ChannelDetailsTable.jsx
  frontend/src/devicelist/ContentsTable.jsx
  frontend/src/devicelist/DeviceListPage.jsx
  frontend/src/devicelist/DeviceListSortSelector.jsx
  frontend/src/devicelist/DevicesTable.jsx
  frontend/src/devicelist/HeadCells.jsx
  frontend/src/devicelist/SingleTableRow.jsx
  frontend/src/devicelist/TitleBox.jsx
  frontend/src/devicelist/__tests__/DeviceList.test.jsx
  frontend/src/devicelist/__tests__/DeviceListSortBy.test.jsx
  frontend/src/devicelist/__tests__/HeadCells.test.jsx
  frontend/src/index.css
  package-lock.json
Labels: frontend, refactoring
