Repository bean-pod/switchboard, pull requests merged in 2021-03, with the labels that each got.

#332 Refactor Dialog
  frontend/src/api/StreamApi.js
  frontend/src/general/dialog/Dialog.jsx
  frontend/src/general/dialog/DialogBody.jsx
  frontend/src/general/dialog/DialogButtons.jsx
  frontend/src/general/dialog/__tests__/Dialog.test.jsx
  frontend/src/general/dialog/__tests__/DialogBody.test.jsx
  frontend/src/general/dialog/__tests__/DialogButtons.test.jsx
  frontend/src/streamlist/DeleteStream.jsx
  frontend/src/streamlist/DeleteStreamDialog.jsx
  frontend/src/streamlist/DeleteStreamDialogOpener.jsx
  frontend/src/streamlist/StreamsTable.jsx
  frontend/src/streamlist/__tests__/DeleteStreamDialog.test.jsx
  frontend/src/streamlist/__tests__/DeleteStreamDialogOpener.test.jsx
  frontend/src/streamlist/__tests__/StreamsTable.test.jsx
Labels: code quality, frontend, refactoring

#350 [#341] Create page
  frontend/src/__tests__/HeaderBar.test.jsx
  frontend/src/general/HeaderBar.jsx
  frontend/src/general/Page.jsx
  frontend/src/general/Title.jsx
  frontend/src/general/__tests__/Page.test.jsx
  frontend/src/general/__tests__/Title.test.jsx
Labels: frontend, refactoring

#335 [#153] Create homepage
  frontend/package.json
  frontend/src/general/HomePage.jsx
  frontend/src/general/__tests__/HomePage.test.jsx
  frontend/src/general/dashboard/DashboardButton.jsx
  frontend/src/general/dashboard/DashboardCard.jsx
  frontend/src/general/dashboard/GridColumn.jsx
  frontend/src/general/dashboard/__tests__/DashboardButton.test.jsx
  frontend/src/general/dashboard/__tests__/DashboardCard.test.jsx
  frontend/src/general/dashboard/__tests__/GridColumn.test.jsx
  frontend/src/general/dashboard/dashboard.css
  frontend/src/homepage/ActiveStreamCard.jsx
  frontend/src/homepage/ActivityLogCard.jsx
  frontend/src/homepage/AdminPanelCard.jsx
  frontend/src/homepage/DevicesCard.jsx
  frontend/src/homepage/HomePage.jsx
  frontend/src/homepage/__tests__/ActiveStreamCard.test.jsx
  frontend/src/homepage/__tests__/ActivityLogCard.test.jsx
  frontend/src/homepage/__tests__/AdminPanelCard.test.jsx
  frontend/src/homepage/__tests__/DevicesCard.test.jsx
  frontend/src/homepage/__tests__/HomePageContents.test.jsx
  frontend/src/index.jsx
Labels: enhancement, frontend, refactoring

#349 [#334] StreamApi now uses promises. Improved StreamApi tests.
  frontend/src/api/SampleData.js
  frontend/src/api/StreamApi.js
  frontend/src/api/tests/StreamApi.test.js
  frontend/src/api/tests/StreamFixture.js
  frontend/src/createStream/__tests__/StreamingPage.test.jsx
  frontend/src/streamlist/StreamsTableWrapper.jsx
  frontend/src/streamlist/__tests__/StreamsTableWrapper.test.jsx
Labels: refactoring

#323 Performance optimization: Allow partial updates
  src/main/java/org/beanpod/switchboard/dao/DeviceDaoImpl.java
  src/main/java/org/beanpod/switchboard/dto/mapper/DeviceMapper.java
  src/test/java/org/beanpod/switchboard/dao/DeviceDaoImplTest.java
Labels: performance

#362 [#347] Refactor Login to use Page
  frontend/src/login/LoginPage.jsx
  frontend/src/login/LoginPageContents.jsx
  frontend/src/login/__tests__/LoginPage.test.jsx
  frontend/src/login/__tests__/LoginPageContent.test.jsx
Labels: frontend, refactoring

#361 [#346] Refactor Homepage to use Page
  frontend/src/homepage/HomePage.jsx
  frontend/src/homepage/HomePageContents.jsx
  frontend/src/homepage/__tests__/HomePage.test.jsx
  frontend/src/homepage/__tests__/HomePageContents.test.jsx
Labels: frontend, refactoring

#365 [#342] Refactor LogsListPage to use Page
  frontend/src/api/tests/StreamApi.test.js
  frontend/src/loglist/LogListPage.jsx
  frontend/src/loglist/__tests__/LogListPage.test.jsx
Labels: frontend, refactoring

#366 [#343] Refactor DeviceDetailsPage to use Page
  frontend/src/deviceDetailsPage/DeviceDetailsConciseRow.jsx
  frontend/src/deviceDetailsPage/DeviceDetailsConciseTable.jsx
  frontend/src/deviceDetailsPage/DeviceDetailsPage.jsx
  frontend/src/deviceDetailsPage/DeviceDetailsPageContents.jsx
  frontend/src/deviceDetailsPage/DeviceName.jsx
  frontend/src/deviceDetailsPage/DeviceNameDetail.jsx
  frontend/src/deviceDetailsPage/EditableName.jsx
  frontend/src/deviceDetailsPage/StaticName.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsConciseRow.test.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsPage.test.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsPageContents.test.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceName.test.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceNameDetail.test.jsx
  frontend/src/deviceDetailsPage/__tests__/EditableName.test.jsx
  frontend/src/deviceDetailsPage/__tests__/StaticName.test.jsx
  frontend/src/devicelist/DevicesTable.jsx
Labels: frontend, refactoring

#375 [#374] Refactor StreamInfo to add channels
  frontend/src/api/SampleData.js
  frontend/src/api/StreamApi.js
  frontend/src/api/tests/StreamApi.test.js
  frontend/src/createStream/CreateStreamPage.jsx
  frontend/src/createStream/__tests__/CreateStreamPage.test.jsx
  frontend/src/model/StreamInfo.js
  frontend/src/streamlist/StreamsTable.jsx
  frontend/src/streamlist/__tests__/StreamsTable.test.jsx
Labels: frontend, refactoring

#372 [#330] Add Protected Routes to Front-end
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/HeaderBar.test.jsx
  frontend/src/__tests__/index.test.jsx
  frontend/src/api/AuthenticationApi.js
  frontend/src/api/tests/AuthenticationApi.test.js
  frontend/src/app/AdminProtectedRoute.jsx
  frontend/src/app/AppRouter.jsx
  frontend/src/app/ProtectedRoute.jsx
  frontend/src/app/__tests__/AdminProtectedRoute.test.jsx
  frontend/src/app/__tests__/AppRouter.test.jsx
  frontend/src/app/__tests__/ProtectedRoute.test.jsx
  frontend/src/createStream/CreateStreamPage.jsx
  frontend/src/createStream/StreamingTable.jsx
  frontend/src/createStream/__tests__/CreateStreamPage.test.jsx
  frontend/src/createStream/__tests__/StreamingTable.test.jsx
  frontend/src/devicelist/DeviceListPage.jsx
  frontend/src/devicelist/__tests__/DeviceListPage.test.jsx
  frontend/src/general/HeaderBar.jsx
  frontend/src/general/PathNotFoundPage.jsx
  frontend/src/general/__tests__/HeaderBar.test.jsx
  frontend/src/general/__tests__/Page.test.jsx
  frontend/src/general/__tests__/PathNotFoundPage.test.jsx
  frontend/src/homepage/HomePageContents.jsx
  frontend/src/homepage/__tests__/HomePage.test.jsx
  frontend/src/homepage/__tests__/HomePageContents.test.jsx
  frontend/src/index.jsx
  frontend/src/login/LoginPage.jsx
  frontend/src/login/LoginPageContents.jsx
  frontend/src/login/__tests__/LoginPage.test.jsx
  frontend/src/login/__tests__/LoginPageContent.test.jsx
  frontend/src/loglist/LogListPage.jsx
  frontend/src/loglist/__tests__/LogListPage.test.jsx
  frontend/src/streamlist/StreamListPage.jsx
  frontend/src/streamlist/__tests__/StreamListPage.test.jsx
Labels: code quality, enhancement, frontend, refactoring

#371 [#370] Add alignment and spacing to breadcrumbs/title
  frontend/src/general/Page.jsx
  frontend/src/general/__tests__/Page.test.jsx
Labels: bug, frontend, non-critical

#404 Fix Device Details Path Bug
  frontend/src/devicelist/ActionMenu.jsx
  frontend/src/devicelist/DevicesTable.jsx
Labels: frontend, hotfix

#383 [#266] Detailed Stream Info Page
  frontend/src/api/SampleData.js
  frontend/src/app/AppRouter.jsx
  frontend/src/app/__tests__/AppRouter.test.jsx
  frontend/src/index.css
  frontend/src/streamDetails/DeleteStreamDialog.jsx
  frontend/src/streamDetails/DeleteStreamDialogOpener.jsx
  frontend/src/streamDetails/StreamDetailsPage.jsx
  frontend/src/streamDetails/StreamDetailsPageContents.jsx
  frontend/src/streamDetails/StreamDeviceDetails.jsx
  frontend/src/streamDetails/StreamLogs.jsx
  frontend/src/streamDetails/__tests__/DeleteStreamDialog.test.jsx
  frontend/src/streamDetails/__tests__/DeleteStreamDialogOpener.test.jsx
  frontend/src/streamDetails/__tests__/StreamDetailsPage.test.jsx
  frontend/src/streamDetails/__tests__/StreamDetailsPageContents.test.jsx
  frontend/src/streamDetails/__tests__/StreamDeviceDetails.test.jsx
  frontend/src/streamDetails/__tests__/StreamLogs.test.jsx
  frontend/src/streamlist/StreamDetailsButton.jsx
  frontend/src/streamlist/StreamsTable.jsx
  frontend/src/streamlist/__tests__/StreamDetailsButton.test.jsx
  frontend/src/streamlist/__tests__/StreamsTable.test.jsx
Labels: frontend

#418 [#415] Refactor device details to use dashboard
  frontend/src/deviceDetailsPage/DeleteDeviceDialog/DeleteDeviceDialog.jsx
  frontend/src/deviceDetailsPage/DeleteDeviceDialog/DeleteDeviceDialogOpener.jsx
  frontend/src/deviceDetailsPage/DeleteDeviceDialog/__tests__/DeleteDeviceDialog.test.jsx
  frontend/src/deviceDetailsPage/DeleteDeviceDialog/__tests__/DeleteDeviceDialogOpener.test.jsx
  frontend/src/deviceDetailsPage/DeviceDetailsConciseTable.jsx
  frontend/src/deviceDetailsPage/DeviceDetailsInfoTable.jsx
  frontend/src/deviceDetailsPage/DeviceDetailsPageContents.jsx
  frontend/src/deviceDetailsPage/DeviceDetailsTabTable.jsx
  frontend/src/deviceDetailsPage/DeviceInfoTable/DeviceInfoRow.jsx
  frontend/src/deviceDetailsPage/DeviceInfoTable/DeviceInfoTable.jsx
  frontend/src/deviceDetailsPage/DeviceInfoTable/__tests__/DeviceInfoRow.test.jsx
  frontend/src/deviceDetailsPage/DeviceInfoTable/__tests__/DeviceInfoTable.test.jsx
  frontend/src/deviceDetailsPage/DeviceLogTableWrapper.jsx
  frontend/src/deviceDetailsPage/TabPanels/DeviceDetailsActivityPanel.jsx
  frontend/src/deviceDetailsPage/TabPanels/DeviceDetailsNotesPanel.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsConciseRow.test.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsConciseTable.test.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsInfoTable.test.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsPageContents.test.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsTabPanels.test.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsTabTable.test.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceLogTableWrapper.test.jsx
  frontend/src/deviceDetailsPage/cards/DeviceChannelCard.jsx
  frontend/src/deviceDetailsPage/cards/DeviceInfoCard.jsx
  frontend/src/deviceDetailsPage/cards/DeviceLogCard.jsx
  frontend/src/deviceDetailsPage/cards/DeviceStreamCard.jsx
  frontend/src/deviceDetailsPage/cards/__tests__/DeviceChannelCard.test.jsx
  frontend/src/deviceDetailsPage/cards/__tests__/DeviceInfoCard.test.jsx
  frontend/src/deviceDetailsPage/cards/__tests__/DeviceLogCard.test.jsx
  frontend/src/deviceDetailsPage/cards/__tests__/DeviceStreamCard.test.jsx
  frontend/src/model/DeviceInfo.js
  frontend/src/model/__tests__/DeviceInfo.test.jsx
Labels: frontend, refactoring

#355 [#351] Create logs related to streams
  frontend/package-lock.json
  src/main/java/org/beanpod/switchboard/aop/StreamAspect.java
  src/main/java/org/beanpod/switchboard/dao/StreamLogDaoImpl.java
  src/main/java/org/beanpod/switchboard/dto/LogDto.java
  src/main/java/org/beanpod/switchboard/dto/StreamLogDto.java
  src/main/java/org/beanpod/switchboard/dto/mapper/LogMapper.java
  src/main/java/org/beanpod/switchboard/dto/mapper/LogStreamMapper.java
  src/main/java/org/beanpod/switchboard/entity/LogEntity.java
  src/main/java/org/beanpod/switchboard/entity/StreamLog.java
  src/main/java/org/beanpod/switchboard/repository/LogRepository.java
  src/main/java/org/beanpod/switchboard/repository/LogStreamRepository.java
  src/main/java/org/beanpod/switchboard/service/LogService.java
  src/main/java/org/beanpod/switchboard/service/StreamLogService.java
  src/test/java/org/beanpod/switchboard/dao/StreamLogDaoImplTest.java
  src/test/java/org/beanpod/switchboard/fixture/LogFixture.java
  src/test/java/org/beanpod/switchboard/fixture/StreamLogFixture.java
  src/test/java/org/beanpod/switchboard/service/StreamLogServiceTest.java
Labels: backend

#385 [#274] Create user page
  README.md
  frontend/.env.development
  frontend/.env.production
  frontend/.env.test
  frontend/src/admin/__tests__/CreateUserFormConsole.test.jsx
  frontend/src/admin/__tests__/CreateUserPage.test.jsx
  frontend/src/admin/__tests__/CreateUserPageContents.test.jsx
  frontend/src/admin/createUser/CreateUserFormConsole.jsx
  frontend/src/admin/createUser/CreateUserPage.jsx
  frontend/src/admin/createUser/CreateUserPageContents.jsx
  frontend/src/api/UserManagementApi.js
  frontend/src/api/tests/UserManagementApi.test.js
  frontend/src/app/AppRouter.jsx
  frontend/src/app/__tests__/AppRouter.test.jsx
  frontend/src/general/dialog/Dialog.jsx
  frontend/src/general/dialog/DialogButtons.jsx
  frontend/src/general/dialog/__tests__/Dialog.test.jsx
  frontend/src/general/dialog/__tests__/DialogButtons.test.jsx
  frontend/src/general/userForm/FormConsole.jsx
  frontend/src/general/userForm/FormFailedDialog.jsx
  frontend/src/general/userForm/__tests__/FormConsole.test.jsx
  frontend/src/general/userForm/__tests__/FormFailedDialog.test.jsx
  frontend/src/homepage/AdminPanelCard.jsx
  frontend/src/homepage/__tests__/AdminPanelCard.test.jsx
Labels: frontend
