Repository bean-pod/switchboard, pull requests merged in 2021-01, with the labels that each got.

#212 Stop Treating warnings as errors because process.env.CI = true.
  .github/workflows/deploy-gh-pages.yml
Labels: hotfix

#213 Stop Treating warnings as errors because process.env.CI = true. [2]
  .github/workflows/deploy-gh-pages.yml
Labels: hotfix

#215 Allow CORS on delete endpoints
  src/main/java/org/beanpod/switchboard/config/WebMvcConfiguration.java
Labels: hotfix

#211 [#192] Delete stream in frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/StreamApi.js
  frontend/src/streamlist/ActionButtons.jsx
  frontend/src/streamlist/DeleteStream.jsx
  frontend/src/streamlist/SingleStreamRow.jsx
  frontend/src/streamlist/__tests__/StreamList.test.jsx
Labels: frontend

#247 Refactor streams table to only have delete stream action and renaming of directory deviceDetailsPage
  frontend/src/deviceDetailsPage/DeviceDetailsConciseRow.jsx
  frontend/src/deviceDetailsPage/DeviceDetailsConciseTable.jsx
  frontend/src/deviceDetailsPage/DeviceDetailsPage.jsx
  frontend/src/deviceDetailsPage/DeviceDetailsTabTable.jsx
  frontend/src/deviceDetailsPage/TabPanels/DeviceDetailsActivityPanel.jsx
  frontend/src/deviceDetailsPage/TabPanels/DeviceDetailsNotesPanel.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsConciseRow.test.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsConciseTable.test.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsPage.test.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsTabPanels.test.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsTabTable.test.jsx
  frontend/src/index.jsx
  frontend/src/streamlist/ActionButtons.jsx
  frontend/src/streamlist/DeleteStream.jsx
  frontend/src/streamlist/StreamsTable.jsx
  frontend/src/streamlist/__tests__/StreamList.test.jsx
Labels: frontend

#252 Add link to device details to actions on device list
  frontend/src/devicelist/ActionMenu.jsx
  frontend/src/devicelist/DevicesTable.jsx
  frontend/src/devicelist/__tests__/ActionMenu.test.jsx
Labels: frontend, refactoring

#243 Removed CascadeType.MERGE from channel entities
  src/main/java/org/beanpod/switchboard/entity/InputChannelEntity.java
  src/main/java/org/beanpod/switchboard/entity/OutputChannelEntity.java
Labels: hotfix

#248 [#27] Delete device in frontend
  frontend/.env.development
  frontend/.env.test
  frontend/src/api/DeviceApi.js
  frontend/src/api/StreamApi.js
  frontend/src/deviceDetailsPage/DeleteDeviceButton.jsx
  frontend/src/deviceDetailsPage/DeviceDetailsPage.jsx
  frontend/src/deviceDetailsPage/__tests__/DeleteDeviceButton.test.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsPage.test.jsx
Labels: frontend, refactoring

#253 Styling and layout changes to DeviceDetailsPage and minor changes to DeviceList
  README.md
  frontend/src/deviceDetailsPage/DeleteDeviceButton.jsx
  frontend/src/deviceDetailsPage/DeviceDetailsPage.jsx
  frontend/src/deviceDetailsPage/DeviceDetailsTabTable.jsx
  frontend/src/deviceDetailsPage/TabPanels/DeviceDetailsActivityPanel.jsx
  frontend/src/deviceDetailsPage/TabPanels/DeviceDetailsNotesPanel.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsPage.test.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsTabTable.test.jsx
  frontend/src/devicelist/ChannelDetailsTable.jsx
  frontend/src/devicelist/DevicesTable.jsx
  frontend/src/devicelist/TitleBox.jsx
  frontend/src/general/VerticalTabs.jsx
Labels: frontend

#293 Fix for delete device in actions
  frontend/src/api/DeviceApi.js
  frontend/src/general/DeleteDeviceButton.jsx
  frontend/src/general/__tests__/DeleteDeviceButton.test.jsx
Labels: hotfix

#276 Add delete device functionality to actions menu
  frontend/src/api/DeviceApi.js
  frontend/src/deviceDetailsPage/DeviceDetailsPage.jsx
  frontend/src/deviceDetailsPage/__tests__/DeleteDeviceButton.test.jsx
  frontend/src/devicelist/ActionMenu.jsx
  frontend/src/general/DeleteDeviceButton.jsx
  frontend/src/general/__tests__/DeleteDeviceButton.test.jsx
Labels: frontend, refactoring

#260 Add page refresh to delete stream
  frontend/src/streamlist/DeleteStream.jsx
  frontend/src/streamlist/__tests__/StreamList.test.jsx
  src/main/java/org/beanpod/switchboard/aop/StreamAspect.java
Labels: bug, frontend
