Repository bean-pod/switchboard, pull requests merged in 2021-04, with the labels that each got.

#429 [#262] Add Configuration file upload & download skeleton in front-end
  frontend/src/api/DeviceApi.js
  frontend/src/api/tests/DeviceApi.test.js
  frontend/src/deviceDetailsPage/DeviceDetailsPageContents.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsPageContents.test.jsx
  frontend/src/deviceDetailsPage/cards/DeviceConfigActionsCard.jsx
  frontend/src/deviceDetailsPage/cards/__tests__/DeviceConfigActionsCard.test.jsx
  frontend/src/deviceDetailsPage/configuration/DownloadConfigButton.jsx
  frontend/src/deviceDetailsPage/configuration/UploadConfigDialog.jsx
  frontend/src/deviceDetailsPage/configuration/UploadConfigDialogOpenButton.jsx
  frontend/src/deviceDetailsPage/configuration/__tests__/DownloadConfigButton.test.jsx
  frontend/src/deviceDetailsPage/configuration/__tests__/UploadConfigDialog.test.jsx
  frontend/src/deviceDetailsPage/configuration/__tests__/UploadConfigDialogOpenButton.test.jsx
Labels: enhancement, frontend

#432 Set Up Models and Api for Stream Statistics
  frontend/src/api/StreamApi.js
  frontend/src/api/tests/StreamApi.test.js
  frontend/src/api/tests/StreamFixture.js
  frontend/src/model/ConvertDataFormat.js
  frontend/src/model/StreamStatistics/StreamStatisticsInfo.js
  frontend/src/model/StreamStatistics/StreamStatsLinkInfo.js
  frontend/src/model/StreamStatistics/StreamStatsReceiveInfo.js
  frontend/src/model/StreamStatistics/StreamStatsSendInfo.js
  frontend/src/model/StreamStatistics/StreamStatsWindowInfo.js
  frontend/src/model/__tests__/ConvertDataFormat.test.js
Labels: frontend

#434 Refactor add small dashboard card button
  frontend/src/deviceDetailsPage/cards/DeviceChannelCard.jsx
  frontend/src/deviceDetailsPage/cards/DeviceInfoCard.jsx
  frontend/src/deviceDetailsPage/cards/DeviceLogCard.jsx
  frontend/src/deviceDetailsPage/cards/DeviceStreamCard.jsx
  frontend/src/deviceDetailsPage/cards/__tests__/DeviceChannelCard.test.jsx
  frontend/src/deviceDetailsPage/cards/__tests__/DeviceInfoCard.test.jsx
  frontend/src/deviceDetailsPage/cards/__tests__/DeviceLogCard.test.jsx
  frontend/src/deviceDetailsPage/cards/__tests__/DeviceStreamCard.test.jsx
  frontend/src/general/dashboard/ButtonInfo.js
  frontend/src/general/dashboard/DashboardCard.jsx
  frontend/src/general/dashboard/SmallCardButton.jsx
  frontend/src/general/dashboard/__tests__/DashboardCard.test.jsx
  frontend/src/general/dashboard/__tests__/SmallCardButton.test.jsx
  frontend/src/homepage/ActiveStreamCard.jsx
  frontend/src/homepage/ActivityLogCard.jsx
  frontend/src/homepage/AdminPanelCard.jsx
  frontend/src/homepage/DevicesCard.jsx
  frontend/src/homepage/__tests__/ActiveStreamCard.test.jsx
  frontend/src/homepage/__tests__/ActivityLogCard.test.jsx
  frontend/src/homepage/__tests__/AdminPanelCard.test.jsx
  frontend/src/homepage/__tests__/DevicesCard.test.jsx
  frontend/src/streamDetails/StreamDetailsPageContents.jsx
Labels: frontend, refactoring

#435 Refactor devicelist page
  frontend/src/devicelist/DeviceListPage.jsx
  frontend/src/devicelist/DeviceListPageContents.jsx
  frontend/src/devicelist/DeviceListTabTable.jsx
  frontend/src/devicelist/DeviceTableTitle.jsx
  frontend/src/devicelist/DevicesTable.jsx
  frontend/src/devicelist/StyledInput.jsx
  frontend/src/devicelist/TabPanel.jsx
  frontend/src/devicelist/__tests__/DeviceListPage.test.jsx
  frontend/src/devicelist/__tests__/DeviceListPageContents.test.jsx
  frontend/src/devicelist/__tests__/DeviceListTabTable.test.jsx
  frontend/src/devicelist/__tests__/DeviceTableTitle.test.jsx
  frontend/src/general/VerticalTabs.jsx
Labels: frontend, refactoring

#428 [#328] Retrieve specific stream logs
  contracts/api-spec.yaml
  src/main/java/org/beanpod/switchboard/controller/LogController.java
  src/main/java/org/beanpod/switchboard/dao/StreamLogDaoImpl.java
  src/main/java/org/beanpod/switchboard/dto/mapper/LogStreamMapper.java
  src/main/java/org/beanpod/switchboard/repository/LogStreamRepository.java
  src/test/java/org/beanpod/switchboard/controller/LogControllerTest.java
  src/test/java/org/beanpod/switchboard/dao/StreamLogDaoImplTest.java
  src/test/java/org/beanpod/switchboard/fixture/LogFixture.java
  src/test/java/org/beanpod/switchboard/fixture/StreamLogFixture.java
  src/test/java/org/beanpod/switchboard/service/StreamLogServiceTest.java
Labels: backend

#431 Implement Simple Table + Refactor
  frontend/src/general/simpleTable/SimpleTable.jsx
  frontend/src/general/simpleTable/SimpleTableRow.jsx
  frontend/src/general/simpleTable/__tests__/SimpleTable.test.jsx
  frontend/src/general/simpleTable/__tests__/SimpleTableRow.test.jsx
  frontend/src/streamDetails/StreamDetailsPageContents.jsx
  frontend/src/streamDetails/StreamDeviceDetails.jsx
  frontend/src/streamDetails/StreamDeviceDetailsCard.jsx
  frontend/src/streamDetails/__tests__/StreamDetailsPageContents.test.jsx
  frontend/src/streamDetails/__tests__/StreamDeviceDetails.test.jsx
  frontend/src/streamDetails/__tests__/StreamDeviceDetailsCard.test.jsx
Labels: frontend, refactoring

#440 Refactor more versatile small card button
  frontend/src/general/dashboard/ButtonInfo.js
  frontend/src/general/dashboard/SmallCardButton.jsx
  frontend/src/general/dashboard/__tests__/SmallCardButton.test.jsx
Labels: frontend, hotfix

#378 [#329] Restrict access to devices
  src/main/java/org/beanpod/switchboard/controller/ChannelController.java
  src/main/java/org/beanpod/switchboard/controller/DecoderController.java
  src/main/java/org/beanpod/switchboard/controller/DeviceController.java
  src/main/java/org/beanpod/switchboard/controller/EncoderController.java
  src/main/java/org/beanpod/switchboard/controller/StreamController.java
  src/main/java/org/beanpod/switchboard/dao/ChannelDaoImpl.java
  src/main/java/org/beanpod/switchboard/dao/DecoderDaoImpl.java
  src/main/java/org/beanpod/switchboard/dao/DeviceDaoImpl.java
  src/main/java/org/beanpod/switchboard/dao/EncoderDaoImpl.java
  src/main/java/org/beanpod/switchboard/dao/StreamDaoImpl.java
  src/main/java/org/beanpod/switchboard/dao/UserDaoImpl.java
  src/main/java/org/beanpod/switchboard/dto/DeviceDto.java
  src/main/java/org/beanpod/switchboard/dto/mapper/DeviceMapper.java
  src/main/java/org/beanpod/switchboard/entity/DeviceEntity.java
  src/main/java/org/beanpod/switchboard/entity/UserEntity.java
  src/main/java/org/beanpod/switchboard/repository/ChannelRepository.java
  src/main/java/org/beanpod/switchboard/repository/DecoderRepository.java
  src/main/java/org/beanpod/switchboard/repository/DeviceRepository.java
  src/main/java/org/beanpod/switchboard/repository/EncoderRepository.java
  src/main/java/org/beanpod/switchboard/repository/InputChannelRepository.java
  src/main/java/org/beanpod/switchboard/repository/OutputChannelRepository.java
  src/main/java/org/beanpod/switchboard/repository/StreamRepository.java
  src/main/java/org/beanpod/switchboard/service/DecoderService.java
  src/main/java/org/beanpod/switchboard/service/DecoderServiceImpl.java
  src/main/java/org/beanpod/switchboard/service/EncoderService.java
  src/main/java/org/beanpod/switchboard/service/EncoderServiceImpl.java
  src/main/java/org/beanpod/switchboard/service/LogService.java
  src/main/java/org/beanpod/switchboard/service/StreamServiceImpl.java
  src/main/java/org/beanpod/switchboard/util/MaintainDeviceStatus.java
  src/test/java/org/beanpod/switchboard/controller/ChannelControllerTest.java
  src/test/java/org/beanpod/switchboard/controller/DecoderControllerTest.java
  src/test/java/org/beanpod/switchboard/controller/DeviceControllerTest.java
  src/test/java/org/beanpod/switchboard/controller/EncoderControllerTest.java
  src/test/java/org/beanpod/switchboard/controller/StreamControllerTest.java
  src/test/java/org/beanpod/switchboard/dao/ChannelDaoImplTest.java
  src/test/java/org/beanpod/switchboard/dao/DecoderDaoImplTest.java
  src/test/java/org/beanpod/switchboard/dao/DeviceDaoImplTest.java
  src/test/java/org/beanpod/switchboard/dao/EncoderDaoImplTest.java
  src/test/java/org/beanpod/switchboard/dao/UserDaoImplTest.java
  src/test/java/org/beanpod/switchboard/entity/SwitchBoardUserDetailsTest.java
  src/test/java/org/beanpod/switchboard/fixture/DeviceFixture.java
  src/test/java/org/beanpod/switchboard/fixture/LogFixture.java
  src/test/java/org/beanpod/switchboard/fixture/UserFixture.java
  src/test/java/org/beanpod/switchboard/mapper/LogMapperTest.java
  src/test/java/org/beanpod/switchboard/service/DecoderServiceTest.java
  src/test/java/org/beanpod/switchboard/service/EncoderServiceTest.java
  src/test/java/org/beanpod/switchboard/util/MaintainDeviceStatusTest.java
  src/test/java/org/beanpod/switchboard/util/UserMockUtil.java
Labels: backend

#422 [#259] Add snackbar messages
  frontend/src/admin/__tests__/CreateUserPageContents.test.jsx
  frontend/src/admin/createUser/CreateUserPage.jsx
  frontend/src/admin/createUser/CreateUserPageContents.jsx
  frontend/src/api/DeviceApi.js
  frontend/src/app/AppRouter.jsx
  frontend/src/app/__tests__/AppRouter.test.jsx
  frontend/src/createStream/StreamingTable.jsx
  frontend/src/createStream/__tests__/StreamingTable.test.jsx
  frontend/src/deviceDetailsPage/DeleteDeviceDialog/DeleteDeviceDialog.jsx
  frontend/src/deviceDetailsPage/DeleteDeviceDialog/__tests__/DeleteDeviceDialog.test.jsx
  frontend/src/deviceDetailsPage/DeviceName.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceName.test.jsx
  frontend/src/general/Buttons/DeleteDeviceButton.jsx
  frontend/src/general/SnackbarMessage.jsx
  frontend/src/general/__tests__/DeleteDeviceButton.test.jsx
  frontend/src/general/__tests__/SnackbarMessage.test.jsx
  frontend/src/index.css
  frontend/src/streamDetails/DeleteStreamDialog.jsx
  frontend/src/streamDetails/__tests__/DeleteStreamDialog.test.jsx
Labels: enhancement, frontend

#454 [#453] Refactor use iso date format
  frontend/src/api/SampleData.js
  frontend/src/api/tests/LogApi.test.js
  frontend/src/model/LogInfo.js
  frontend/src/model/StreamInfo.js
Labels: frontend

#423 Simplified table for the Dashboard's Active Streams Card and refactor streams table and friends
  frontend/src/devicelist/ActionMenu.jsx
  frontend/src/homepage/ActiveStreamCard.jsx
  frontend/src/homepage/__tests__/ActiveStreamCard.test.jsx
  frontend/src/streamDetails/DeleteStreamDialog.jsx
  frontend/src/streamlist/DetailedStreamsTableWrapper.jsx
  frontend/src/streamlist/SimpleStreamsTableWrapper.jsx
  frontend/src/streamlist/StreamListPage.jsx
  frontend/src/streamlist/StreamsTable.jsx
  frontend/src/streamlist/StreamsTableWrapper.jsx
  frontend/src/streamlist/__tests__/DetailedStreamsTableWrapper.test.jsx
  frontend/src/streamlist/__tests__/SimpleStreamsTableWrapper.test.jsx
  frontend/src/streamlist/__tests__/StreamListPage.test.jsx
  frontend/src/streamlist/__tests__/StreamsTable.test.jsx
  frontend/src/streamlist/__tests__/StreamsTableWrapper.test.jsx
Labels: frontend, refactoring

#455 [#436] Integrate configuration in Frontend
  frontend/src/api/DeviceApi.js
  frontend/src/api/tests/DeviceApi.test.js
  frontend/src/api/tests/DeviceFixture.js
  frontend/src/deviceDetailsPage/configuration/DownloadConfigButton.jsx
  frontend/src/deviceDetailsPage/configuration/__tests__/DownloadConfigButton.test.jsx
Labels: enhancement, frontend

#430 [#271] Stream Statistics
  frontend/src/api/SampleData.js
  frontend/src/app/AppRouter.jsx
  frontend/src/app/__tests__/AppRouter.test.jsx
  frontend/src/general/dashboard/SmallCardButton.jsx
  frontend/src/general/dashboard/__tests__/SmallCardButton.test.jsx
  frontend/src/model/__tests__/ConvertDataFormat.test.js
  frontend/src/streamDetails/DetailedStreamStatistics/StatisticsOverviewCard.jsx
  frontend/src/streamDetails/DetailedStreamStatistics/StatisticsReceivingCard.jsx
  frontend/src/streamDetails/DetailedStreamStatistics/StatisticsSendingCard.jsx
  frontend/src/streamDetails/DetailedStreamStatistics/StreamStatisticsPage.jsx
  frontend/src/streamDetails/DetailedStreamStatistics/StreamStatisticsPageContents.jsx
  frontend/src/streamDetails/DetailedStreamStatistics/__tests__/StatisticsOverviewCard.test.jsx
  frontend/src/streamDetails/DetailedStreamStatistics/__tests__/StatisticsReceivingCard.test.jsx
  frontend/src/streamDetails/DetailedStreamStatistics/__tests__/StatisticsSendingCard.test.jsx
  frontend/src/streamDetails/DetailedStreamStatistics/__tests__/StreamStatisticsPage.test.jsx
  frontend/src/streamDetails/DetailedStreamStatistics/__tests__/StreamStatisticsPageContents.test.jsx
  frontend/src/streamDetails/StreamDetailsDeviceCard.jsx
  frontend/src/streamDetails/StreamDetailsPageContents.jsx
  frontend/src/streamDetails/StreamLogsCard.jsx
  frontend/src/streamDetails/StreamStatisticsCard.jsx
  frontend/src/streamDetails/__tests__/StreamDetailsDeviceCard.test.jsx
  frontend/src/streamDetails/__tests__/StreamDetailsPageContents.test.jsx
  frontend/src/streamDetails/__tests__/StreamLogsCard.test.jsx
  frontend/src/streamDetails/__tests__/StreamStatisticsCard.test.jsx
Labels: enhancement, frontend

#465 Remove time zone indicator
  frontend/src/loglist/LogsTable.jsx
  frontend/src/loglist/__tests__/LogsTable.test.jsx
  frontend/src/streamlist/StreamsTable.jsx
  frontend/src/streamlist/__tests__/StreamsTable.test.jsx
Labels: enhancement, frontend, hotfix

#448 [#443] Fix Device Stealing
  src/main/java/org/beanpod/switchboard/controller/DeviceController.java
  src/main/java/org/beanpod/switchboard/dao/DeviceDaoImpl.java
  src/main/java/org/beanpod/switchboard/repository/DeviceRepository.java
  src/test/java/org/beanpod/switchboard/controller/DeviceControllerTest.java
Labels: backend

#449 [#442] Refactor ChannelDaoImpl
  src/main/java/org/beanpod/switchboard/controller/ChannelController.java
  src/main/java/org/beanpod/switchboard/dao/ChannelDaoImpl.java
  src/main/java/org/beanpod/switchboard/dao/InputChannelDaoImpl.java
  src/main/java/org/beanpod/switchboard/dao/OutputChannelDaoImpl.java
  src/main/java/org/beanpod/switchboard/repository/OutputChannelRepository.java
  src/main/java/org/beanpod/switchboard/service/StreamServiceImpl.java
  src/test/java/org/beanpod/switchboard/controller/ChannelControllerTest.java
  src/test/java/org/beanpod/switchboard/dao/ChannelDaoImplTest.java
  src/test/java/org/beanpod/switchboard/dao/InputChannelDaoImplTest.java
  src/test/java/org/beanpod/switchboard/dao/OutputChannelDaoImplTest.java
  src/test/java/org/beanpod/switchboard/service/StreamServiceTest.java
Labels: backend, refactoring

#463 Add stream button to Active Streams page
  frontend/src/devicelist/DeviceListPage.jsx
  frontend/src/devicelist/__tests__/DeviceListPage.test.jsx
  frontend/src/general/Page.jsx
  frontend/src/general/Title.jsx
  frontend/src/general/__tests__/Page.test.jsx
  frontend/src/general/__tests__/Title.test.jsx
  frontend/src/streamlist/StreamDetailsButton.jsx
  frontend/src/streamlist/StreamListPage.jsx
  frontend/src/streamlist/__tests__/StreamDetailsButton.test.jsx
  frontend/src/streamlist/__tests__/StreamListPage.test.jsx
Labels: enhancement, frontend, hotfix

#466 [#451] Breadcrumbs in Stream Details
  frontend/src/streamDetails/DetailedStreamStatistics/StreamStatisticsPage.jsx
  frontend/src/streamDetails/DetailedStreamStatistics/__tests__/StreamStatisticsPage.test.jsx
  frontend/src/streamDetails/StreamDetailsPage.jsx
  frontend/src/streamDetails/StreamDetailsPageContents.jsx
  frontend/src/streamDetails/StreamStatisticsCard.jsx
  frontend/src/streamDetails/__tests__/StreamDetailsPage.test.jsx
  frontend/src/streamDetails/__tests__/StreamDetailsPageContents.test.jsx
  frontend/src/streamDetails/__tests__/StreamStatisticsCard.test.jsx
Labels: frontend, hotfix

#457 [#328] Endpoint to report stream errors
  contracts/api-spec.yaml
  src/main/java/org/beanpod/switchboard/controller/LogController.java
  src/main/java/org/beanpod/switchboard/dao/StreamLogDaoImpl.java
  src/main/java/org/beanpod/switchboard/dto/mapper/StreamLogMapper.java
  src/main/java/org/beanpod/switchboard/service/StreamLogService.java
  src/test/java/org/beanpod/switchboard/controller/LogControllerTest.java
  src/test/java/org/beanpod/switchboard/dao/StreamLogDaoImplTest.java
  src/test/java/org/beanpod/switchboard/fixture/StreamLogFixture.java
  src/test/java/org/beanpod/switchboard/service/StreamLogServiceTest.java
Labels: backend

#471 Resize some log table columns and set dateTime field default sort to descending
  frontend/src/deviceDetailsPage/DeviceLogTableWrapper.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceLogTableWrapper.test.jsx
  frontend/src/loglist/LogsTableWrapper.jsx
  frontend/src/loglist/__tests__/LogsTableWrapper.test.jsx
  frontend/src/streamDetails/StreamLogTableWrapper.jsx
  frontend/src/streamDetails/__tests__/StreamLogTableWrapper.test.jsx
Labels: frontend, hotfix

#469 [#468] Add logout menu
  frontend/src/general/HeaderBar.jsx
  frontend/src/general/LogoutMenu/LogoutMenu.jsx
  frontend/src/general/LogoutMenu/LogoutMenuOpener.jsx
  frontend/src/general/LogoutMenu/__tests__/LogoutMenu.test.jsx
  frontend/src/general/LogoutMenu/__tests__/LogoutMenuOpener.test.jsx
  frontend/src/general/SnackbarMessage.jsx
  frontend/src/general/__tests__/HeaderBar.test.jsx
  frontend/src/general/__tests__/SnackbarMessage.test.jsx
Labels: enhancement, frontend

#496 [#495] Lower Stream Button's position
  frontend/src/general/Buttons/StreamButton.jsx
Labels: frontend, hotfix

#470 [#481/#482] Error snackbar in Create User page and remove View Users button in homepage
  frontend/src/admin/__tests__/CreateUserFormConsole.test.jsx
  frontend/src/admin/__tests__/CreateUserPage.test.jsx
  frontend/src/admin/__tests__/CreateUserPageContents.test.jsx
  frontend/src/admin/createUser/CreateUserFormConsole.jsx
  frontend/src/admin/createUser/CreateUserPage.jsx
  frontend/src/admin/createUser/CreateUserPageContents.jsx
  frontend/src/homepage/AdminPanelCard.jsx
  frontend/src/homepage/__tests__/AdminPanelCard.test.jsx
Labels: enhancement, frontend

#490 [#356] Track stream start time in the front end
  contracts/api-spec.yaml
  frontend/src/api/StreamApi.js
  frontend/src/api/tests/StreamApi.test.js
  frontend/src/api/tests/StreamFixture.js
  frontend/src/model/StreamInfo.js
  frontend/src/streamDetails/__tests__/StreamDetailsPageContents.test.jsx
  frontend/src/streamlist/DetailedStreamsTableWrapper.jsx
  frontend/src/streamlist/__tests__/DetailedStreamsTableWrapper.test.jsx
  src/main/java/org/beanpod/switchboard/dto/StreamDto.java
  src/main/java/org/beanpod/switchboard/entity/StreamEntity.java
  src/main/java/org/beanpod/switchboard/service/StreamServiceImpl.java
  src/test/java/org/beanpod/switchboard/service/DecoderServiceTest.java
  src/test/java/org/beanpod/switchboard/service/EncoderServiceTest.java
  src/test/java/org/beanpod/switchboard/util/MaintainDeviceStatusTest.java
Labels: backend, frontend

#476 [#444] Make the Encoder Controller return api spec models
  contracts/api-spec.yaml
  src/main/java/org/beanpod/switchboard/controller/EncoderController.java
  src/main/java/org/beanpod/switchboard/dto/mapper/DateMapper.java
  src/main/java/org/beanpod/switchboard/dto/mapper/EncoderMapper.java
  src/main/java/org/beanpod/switchboard/dto/mapper/StreamMapper.java
  src/test/java/org/beanpod/switchboard/controller/EncoderControllerTest.java
  src/test/java/org/beanpod/switchboard/dao/EncoderDaoImplTest.java
  src/test/java/org/beanpod/switchboard/fixture/DateFixture.java
  src/test/java/org/beanpod/switchboard/fixture/DecoderFixture.java
  src/test/java/org/beanpod/switchboard/fixture/EncoderFixture.java
  src/test/java/org/beanpod/switchboard/mapper/DateMapperTest.java
Labels: backend

#467 [#486] Error snackbars displayed instead of sample data for DevicesTable and StreamsTable
  frontend/src/api/DeviceApi.js
  frontend/src/api/tests/DeviceApi.test.js
  frontend/src/devicelist/DeviceListPageContents.jsx
  frontend/src/devicelist/__tests__/DeviceListPageContents.test.jsx
  frontend/src/streamlist/StreamsTableWrapper.jsx
  frontend/src/streamlist/__tests__/StreamsTableWrapper.test.jsx
Labels: enhancement, frontend, refactoring

#475 [#483] Use FormConsole and FormFailedDialog for login
  frontend/src/login/LoginConsole.jsx
  frontend/src/login/LoginFailedDialog.jsx
  frontend/src/login/LoginFormConsole.jsx
  frontend/src/login/LoginPage.jsx
  frontend/src/login/LoginPageContents.jsx
  frontend/src/login/__tests__/LoginConsole.test.jsx
  frontend/src/login/__tests__/LoginFailedDialog.test.jsx
  frontend/src/login/__tests__/LoginFormConsole.test.jsx
  frontend/src/login/__tests__/LoginPage.test.jsx
  frontend/src/login/__tests__/LoginPageContent.test.jsx
Labels: frontend, refactoring

#498 Added @Transactional annotation on deleteStream method
  src/main/java/org/beanpod/switchboard/controller/StreamController.java
Labels: backend, hotfix

#493 [#491] Error snackbar when stream statistics can't be fetched
  frontend/src/streamDetails/StreamStatisticsCard.jsx
  frontend/src/streamDetails/__tests__/StreamStatisticsCard.test.jsx
Labels: enhancement, frontend

#478 [#444] Make the Decoder Controller return api spec models
  contracts/api-spec.yaml
  src/main/java/org/beanpod/switchboard/controller/DecoderController.java
  src/main/java/org/beanpod/switchboard/dto/mapper/DecoderMapper.java
  src/main/java/org/beanpod/switchboard/dto/mapper/EncoderMapper.java
  src/main/java/org/beanpod/switchboard/dto/mapper/InputChannelMapper.java
  src/main/java/org/beanpod/switchboard/dto/mapper/OutputChannelMapper.java
  src/test/java/org/beanpod/switchboard/controller/DecoderControllerTest.java
  src/test/java/org/beanpod/switchboard/dao/DecoderDaoImplTest.java
  src/test/java/org/beanpod/switchboard/fixture/DecoderFixture.java
Labels: backend

#499 Change access modifiers
  src/main/java/org/beanpod/switchboard/exceptions/ExceptionResponse.java
Labels: code quality

#497 [#492] Make dashboard device buttons send user directly to correct list
  frontend/src/app/AppRouter.jsx
  frontend/src/devicelist/DeviceListPage.jsx
  frontend/src/devicelist/DeviceListPageContents.jsx
  frontend/src/devicelist/__tests__/DeviceListPage.test.jsx
  frontend/src/general/LogoutMenu/LogoutMenu.jsx
  frontend/src/general/LogoutMenu/__tests__/LogoutMenu.test.jsx
  frontend/src/general/dashboard/DashboardButton.jsx
  frontend/src/general/dashboard/__tests__/DashboardButton.test.jsx
  frontend/src/homepage/DevicesCard.jsx
  frontend/src/homepage/__tests__/DevicesCard.test.jsx
Labels: enhancement, frontend, refactoring

#501 Fix issue where clicking on DeviceList breadcrumb from DeviceDetails page would break
  frontend/src/deviceDetailsPage/DeviceDetailsPage.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsPage.test.jsx
Labels: frontend, hotfix

#474 [#446] Retrieve logs that belong to the signed-in user
  src/main/java/org/beanpod/switchboard/controller/LogController.java
  src/main/java/org/beanpod/switchboard/controller/StreamController.java
  src/main/java/org/beanpod/switchboard/dao/LogDaoImpl.java
  src/main/java/org/beanpod/switchboard/dao/StreamLogDaoImpl.java
  src/main/java/org/beanpod/switchboard/dto/LogDto.java
  src/main/java/org/beanpod/switchboard/entity/LogEntity.java
  src/main/java/org/beanpod/switchboard/entity/StreamLogEntity.java
  src/main/java/org/beanpod/switchboard/repository/LogRepository.java
  src/main/java/org/beanpod/switchboard/repository/LogStreamRepository.java
  src/test/java/org/beanpod/switchboard/controller/LogControllerTest.java
  src/test/java/org/beanpod/switchboard/dao/LogDaoImplTest.java
  src/test/java/org/beanpod/switchboard/dao/StreamLogDaoImplTest.java
Labels: backend

#502 Enable user to specify log level
  contracts/api-spec.yaml
  src/main/java/org/beanpod/switchboard/aop/StreamAspect.java
  src/main/java/org/beanpod/switchboard/service/StreamLogService.java
  src/test/java/org/beanpod/switchboard/fixture/StreamLogFixture.java
  src/test/java/org/beanpod/switchboard/service/StreamLogServiceTest.java
Labels: backend, hotfix

#503 Fix create logs for non-existent devices
  src/main/java/org/beanpod/switchboard/controller/LogController.java
  src/test/java/org/beanpod/switchboard/controller/LogControllerTest.java
Labels: backend, hotfix
