Repository bean-pod/switchboard, pull requests merged in 2021-02, with the labels that each got.

#306 Move DeleteDeviceButton to Buttons folder
  frontend/src/deviceDetailsPage/DeviceDetailsPage.jsx
  frontend/src/devicelist/ActionMenu.jsx
  frontend/src/general/Buttons/DeleteDeviceButton.jsx
  frontend/src/general/__tests__/DeleteDeviceButton.test.jsx
Labels: frontend, refactoring

#307 Suppress 'Missing a Javadoc comment' violations for all lines and files
  checkstyle-suppressions.xml
Labels: code quality

#310 [#309] Fixed most frontend code smells
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/HeaderBar.test.jsx
  frontend/src/api/DeviceApi.js
  frontend/src/api/StreamApi.js
  frontend/src/api/tests/DeviceApi.test.js
  frontend/src/api/tests/StreamApi.test.js
  frontend/src/createStream/SelectDevicesTable.jsx
  frontend/src/createStream/__tests__/StreamingPage.test.jsx
  frontend/src/createStream/__tests__/StreamingTable.test.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsConciseRow.test.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsPage.test.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsTabPanels.test.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsTabTable.test.jsx
  frontend/src/devicelist/DeviceListPage.jsx
  frontend/src/devicelist/DevicesTable.jsx
  frontend/src/devicelist/TabPanel.jsx
  frontend/src/devicelist/TitleBox.jsx
  frontend/src/devicelist/__tests__/ActionMenu.test.jsx
  frontend/src/devicelist/__tests__/ChannelDetailsTableRow.test.jsx
  frontend/src/devicelist/__tests__/DevicesTable.test.jsx
  frontend/src/general/Buttons/StreamButton.jsx
  frontend/src/general/DynamicBreadcrumb.jsx
  frontend/src/general/HomePage.jsx
  frontend/src/general/VerticalTabs.jsx
  frontend/src/general/__tests__/DeleteDeviceButton.test.jsx
  frontend/src/general/__tests__/HorizontalTabPanel.test.jsx
  frontend/src/model/ConvertDataFormat.js
  frontend/src/model/__tests__/ConvertDataFormat.test.js
  frontend/src/setupTests.js
  frontend/src/streamlist/DeleteStream.jsx
  frontend/src/streamlist/StreamsTable.jsx
  frontend/src/streamlist/__tests__/StreamList.test.jsx
  frontend/src/streamlist/__tests__/StreamsTable.test.jsx
Labels: code quality, frontend

#308 [#273] Add login page to frontend
  frontend/package.json
  frontend/src/api/AuthenticationApi.js
  frontend/src/api/tests/AuthenticationApi.test.js
  frontend/src/index.jsx
  frontend/src/login/LoginConsole.jsx
  frontend/src/login/LoginFailedDialog.jsx
  frontend/src/login/LoginPage.jsx
  frontend/src/login/__tests__/LoginConsole.test.jsx
  frontend/src/login/__tests__/LoginFailedDialog.test.jsx
  frontend/src/login/__tests__/LoginPage.test.jsx
Labels: frontend

#305 [#275] Create new account
  contracts/api-spec.yaml
  pom.xml
  src/main/java/org/beanpod/switchboard/config/WebConfig.java
  src/main/java/org/beanpod/switchboard/config/WebSecurityConfig.java
  src/main/java/org/beanpod/switchboard/controller/UserController.java
  src/main/java/org/beanpod/switchboard/dao/UserDaoImpl.java
  src/main/java/org/beanpod/switchboard/dto/UserDto.java
  src/main/java/org/beanpod/switchboard/dto/mapper/UserMapper.java
  src/main/java/org/beanpod/switchboard/entity/SwitchBoardUserDetails.java
  src/main/java/org/beanpod/switchboard/entity/UserEntity.java
  src/main/java/org/beanpod/switchboard/entity/UserRole.java
  src/main/java/org/beanpod/switchboard/repository/UserRepository.java
  src/main/java/org/beanpod/switchboard/service/UserService.java
  src/test/java/org/beanpod/switchboard/Entity/SwitchBoardUserDetailsTest.java
  src/test/java/org/beanpod/switchboard/controller/UserControllerTest.java
  src/test/java/org/beanpod/switchboard/dao/LogDaoImplTest.java
  src/test/java/org/beanpod/switchboard/dao/UserDaoImplTest.java
  src/test/java/org/beanpod/switchboard/fixture/UserFixture.java
  src/test/java/org/beanpod/switchboard/service/UserServiceTest.java
Labels: backend

#313 [#298/299] Logs and device logs page
  frontend/.env.development
  frontend/.env.production
  frontend/.env.test
  frontend/src/api/LogApi.js
  frontend/src/api/SampleData.js
  frontend/src/api/tests/LogApi.test.js
  frontend/src/deviceDetailsPage/TabPanels/DeviceDetailsActivityPanel.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsTabPanels.test.jsx
  frontend/src/devicelist/ActionMenu.jsx
  frontend/src/devicelist/DevicesTable.jsx
  frontend/src/devicelist/__tests__/DevicesTable.test.jsx
  frontend/src/general/HomePage.jsx
  frontend/src/general/__tests__/HomePage.test.jsx
  frontend/src/index.css
  frontend/src/index.jsx
  frontend/src/loglist/LogListPage.jsx
  frontend/src/loglist/LogsTable.jsx
  frontend/src/loglist/__tests__/LogListPage.test.jsx
  frontend/src/loglist/__tests__/LogsTable.test.jsx
  frontend/src/model/LogInfo.js
  frontend/src/model/StreamInfo.js
  frontend/src/streamlist/StreamsTable.jsx
  frontend/src/streamlist/__tests__/StreamList.test.jsx
  frontend/src/streamlist/__tests__/StreamsTable.test.jsx
Labels: frontend

#316 [#26] Rename device
  frontend/src/api/DeviceApi.js
  frontend/src/deviceDetailsPage/DeviceDetailsPage.jsx
  frontend/src/deviceDetailsPage/DeviceNameDetail.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceDetailsPage.test.jsx
  frontend/src/deviceDetailsPage/__tests__/DeviceNameDetail.test.jsx
  frontend/src/index.css
  src/main/java/org/beanpod/switchboard/aop/DeviceAspect.java
Labels: frontend, refactoring

#314 [#272] Add endpoint for authentication
  frontend/.env.development
  frontend/.env.production
  frontend/.env.test
  frontend/package-lock.json
  frontend/src/api/AuthenticationApi.js
  frontend/src/api/AuthenticationUtil.js
  frontend/src/api/DeviceApi.js
  frontend/src/api/StreamApi.js
  frontend/src/api/tests/AuthenticationApi.test.js
  frontend/src/api/tests/AuthenticationUtil.test.js
  frontend/src/api/tests/DeviceApi.test.js
  frontend/src/api/tests/StreamApi.test.js
  frontend/src/streamlist/__tests__/StreamList.test.jsx
  pom.xml
  src/main/java/org/beanpod/switchboard/config/JwtAuthenticationFilter.java
  src/main/java/org/beanpod/switchboard/config/JwtAuthorizationFilter.java
  src/main/java/org/beanpod/switchboard/config/SecurityProperties.java
  src/main/java/org/beanpod/switchboard/config/WebSecurityConfig.java
  src/main/java/org/beanpod/switchboard/exceptions/ExceptionType.java
  src/main/resources/application.properties
  src/test/java/features/AuthorizedTestRestTemplate.java
  src/test/java/features/CucumberTest.java
  src/test/java/features/DeviceStepDefinition.java
  src/test/java/features/RunCucumberTest.java
  src/test/java/features/SpringIntegrationTest.java
  src/test/java/org/beanpod/switchboard/config/JwtAuthenticationFilterTest.java
  src/test/resources/application.properties
Labels: backend

#331 Refactor streamlist
  frontend/src/createStream/StreamingPage.jsx
  frontend/src/streamlist/StreamListPage.jsx
  frontend/src/streamlist/StreamsTable.jsx
  frontend/src/streamlist/StreamsTableWrapper.jsx
  frontend/src/streamlist/__tests__/StreamList.test.jsx
  frontend/src/streamlist/__tests__/StreamListPage.test.jsx
  frontend/src/streamlist/__tests__/StreamsTable.test.jsx
  frontend/src/streamlist/__tests__/StreamsTableWrapper.test.jsx
Labels: frontend, refactoring

#337 [#336] Refactor frontend logs table
  frontend/src/index.jsx
  frontend/src/loglist/LogListPage.jsx
  frontend/src/loglist/LogsTableWrapper.jsx
  frontend/src/loglist/__tests__/LogListPage.test.jsx
  frontend/src/loglist/__tests__/LogsTable.test.jsx
  frontend/src/loglist/__tests__/LogsTableWrapper.test.jsx
Labels: code quality, frontend, refactoring
